

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
	<link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
	<link href="~/cssstylesheets/indexstyle.css" rel="stylesheet" />
	<title>Index</title>
</head>
<body>
	<div id="heading">
		<h1>Boote Adminmodus</h1>
	</div>
	<div id="adminTools">
		<a href="~/home/Index">Zurück</a>
	</div>
	<div id="table">
		<table border="1" width="600">
			<tr>
				<th>SID</th>
				<th>Name</th>
				<th>Länge</th>
				<th>Motorleistung</th>
				<th>IsSegler</th>
				<th>Tiefgang</th>
				<th>Baujahr</th>
				<th>Bild</th>
			</tr>
			@foreach (var Boot in Model)
			{
				<tr>
					<td>@Boot.SID</td>
					<td>@Boot.Name</td>
					<td>@Boot.Laenge</td>
					<td>@Boot.Motorleistung</td>
					<td>@Boot.IsSegler</td>
					<td>@Boot.Tiefgang</td>
					<td>@Boot.Baujahr</td>
					<td>@Boot.Bild</td>
					<td>
						<a href="/home/delete?SID=@Boot.SID"><i style="color:grey" class="bi-trash"></i></a>
						<a href="/home/edit?SID=@Boot.SID"><i style="color:grey" class="bi-pencil"></i></a>
						<a href="/home/details?SID=@Boot.SID"><i style="color:grey" class="bi-search"></i></a>
					</td>
				</tr>
			}
		</table>
	</div>
</body>
</html>
